<?xml version="1.0"?>
<launch>

  <arg name="gui" default="false"/>
  <arg name="world_name" default="bookstore"/>

  <!-- Workaround of a bug in the implementation of dirname. See https://github.com/ros/ros_comm/issues/1487 -->
  <arg name="_world" value="$(dirname)/../worlds/$(arg world_name).world"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg _world)"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" default="$(arg gui)"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
    <arg name="verbose" value="false"/>
  </include>
</launch>
