<launch>
<!-- <node -->
<!--     pkg="people_tracking" -->
<!--     type="listener.py" -->
<!--     name="listener" -->
<!--     output="screen" -->
<!--   /> -->

<node
    pkg="people_tracking"
    type="person_detection.py"
    name="person_detection"
    output="screen"
  />

  <node
    pkg="people_tracking"
    type="webcam.py"
    name="webcam_pub"
    output="screen"
  />

</launch>