<launch>

  <arg name="laptop" default="True" />
  <arg name="depth_camera" default="False" />
  <arg name="save_data" default="False"/>

  <node
    pkg="cv_camera"
    type="cv_camera_node"
    name="Webcam"
    output="screen"
    args="$(arg laptop) $(arg depth_camera) $(arg save_data)"
  />

  <node
    pkg="people_tracking_v2"
    type="yolo_seg.py"
    name="Image_seg"
    output="screen"
    args="$(arg laptop) $(arg depth_camera) $(arg save_data)"
  />

  <node
    pkg="people_tracking_v2"
    type="HoC.py"
    name="HoC"
    output="screen"
    args="$(arg laptop) $(arg depth_camera) $(arg save_data)"
  />

  <node
    pkg="people_tracking_v2"
    type="testing_HoC.py"
    name="Operator_HoC"
    output="screen"
    args="$(arg laptop) $(arg depth_camera) $(arg save_data)"
  />

</launch>